header {
  background: #272A38;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.2);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    @include md {
      flex-direction: row;
    }
  }

  .logo {
    display: flex;

    a {
      text-decoration: none;
      color: #d7d7d7;
      border: none;
    }

    &__text {
      font-weight: bold;
      text-transform: uppercase;
      margin: 5px 0 14px 0;

      @include md {
        margin: 5px 0 0 0;
      }

      &--network_color {
        color: #fff;
      }
    }
  }

  .nominateMessage {
    margin: 0;
    font-size: 14px;
    color: #000;
    padding: 4px 12px;
    background: #fff;
    border-radius: 3px;

    svg {
      color: #e23030;
      margin: 0 4px 0 0;
    }

    a {
      color: #000;
      border-color: #000;
    }
  }
}
